/* --------Our Doctors Settings-------- */

#about-wrapper {
    position: relative;
    top: 210px;
    margin-bottom: 170px; 
    height: 1200px;
}

#profile-wrapper-long {
    position: relative;
    top: 125px;
    height: 1125px;
}

#profile-wrapper {
    position: relative;
    top: 125px;
    height: 1125px;
}

.doctor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    width: 100%;
}

.doctor-profile {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 1000px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}

.doctor-thumb {
    position: relative;
    overflow: hidden;
    width: 256px;
    height: auto;
}

.doctor-img {
    max-width: 100%;
    max-height: 100%;
}

#hartman {
    width: 356px;
    height: auto;
}

#ibrahimi {
    width: 303px;
    height: 297px;
}

#mundi {
    width: 279px;
    height: 297px;
}

.doctor-content {
    width: 256px;
    padding: 25px 30px 23px;
    border-top: none;
}

.doctor-name {
    border-bottom: 1px solid var(--darkgreen);
}

.doctor-name h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.04rem;
    color: var(--darkgreen);
    text-align: center;
}

.doctor-name span {
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

.about-me h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.04rem;
    color: var(--darkgreen);
    text-align: center;
    padding-top: 20px;
}

.insurance-wrapper {
    text-align: left;
    margin: 0 auto;
}

p.insurance-title {
    color: #373737;
    font-weight: bold;
}

.insurance-list li {
    color: #373737;
    font-size: 18px;
    margin-left: 15px;
}
