/* --------Contact Settings-------- */

#contact-wrapper {
    position: relative;
    top: 290px;
    margin-bottom: 290px;
    height: 1200px;
}

.contact-content p {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
}

.horizontal-contact-wrapper {
    margin: 15px;
    background: #eee;
}

.contact-row {
    display: flex;
}

.contact-row:after {
    content: "";
    display: table;
    clear: both;
}

.contact-column {
    width: 110%;
}

.contact-column:first-child {
    border-right: 10px solid #fff;   
}

.legend h3 {
    margin: 20px auto;
    padding: 0 15px 15px 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #845c3d;
    font-size: 18px;
    width: 500px;
}

.contact-form {
    position: relative;
    margin: 20px auto;
    color: #373737;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.625em;
    width: 490px;
}

.contact-fieldset {
    clear: both;
    margin: 0;
    padding: 0;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: #eee;
    width: 100%;
    list-style: none;
}

form.contact-section ul::after, form.contact-section li::after, form.contact-section li div::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

form.contact-section li {
    width: auto !important;
}

.contact-section {
    margin: 0 14px !important;
    padding: 0 !important;
    background: none !important;
    list-style: none !important;
    font-size: 13px;
    line-height: 1.625em;
}

.contact-section li {
    clear: both;
    margin: 0 !important;
    padding: 6px 1% 9px !important;
    background: none !important;
    list-style: none !important;
    border-radius: 3px;
}

label.contact-label {
    display: block;
    margin: 0;
    padding: 0 0 3px 0;
    color: #000;
    font-weight: 700;
}

input.contact-input, 
input[type="text"].contact-input, 
input[type="tel"].contact-input, 
input[type="email"].contact-input, 
input[type="url"].contact-input, 
select.contact-label {
    width: 50%;
}

input.contact-input, 
input[type="text"].contact-input, 
input[type="tel"].contact-input, 
input[type="email"].contact-input, 
input[type="url"].contact-input, 
input[type="submit"].contact-submit, 
textarea.contact-textarea, 
select.contact-select {
    margin: 0 0 5px 0;
    height: auto;
    color: #373737;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
}

input.contact-input, 
input[type="text"].contact-input, 
input[type="tel"].contact-input, 
input[type="email"].contact-input, 
input[type="url"].contact-input, 
textarea.contact-textarea {
    padding: 3px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: none repeat scroll 0 0 #fafafa;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear .2s,box-shadow linear .2s;
}

textarea.contact-textarea {
    height: 10em;
    width: 100%;
}

input[type="submit"].contact-submit {
    font-size: 1.1em;
    font-weight: normal;
    padding: 0.3em 0.5em;
    color: #3c5148;
    border: 1px solid #8badaa;
    background: none repeat scroll 0 0 #dfe9ef;
    border-radius: 3px;
}

input[type="submit"].contact-submit:hover {
    font-weight: 700;
    cursor: pointer;
}

.legend h3 {
    margin: 20px auto;
    padding: 0 15px 15px 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #845c3d;
    font-size: 18px;
    width: 500px;
}

.contact-form {
    position: relative;
    margin: 20px auto;
    color: #373737;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.625em;
    width: 490px;
}

.contact-fieldset {
    clear: both;
    margin: 0;
    padding: 0;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: #eee;
    width: 100%;
    list-style: none;
}

form.contact-section ul::after, form.contact-section li::after, form.contact-section li div::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

form.contact-section li {
    width: auto !important;
}

.contact-section {
    margin: 0 14px !important;
    padding: 0 !important;
    background: none !important;
    list-style: none !important;
    font-size: 13px;
    line-height: 1.625em;
}

.contact-section li {
    clear: both;
    margin: 0 !important;
    padding: 6px 1% 9px !important;
    background: none !important;
    list-style: none !important;
    border-radius: 3px;
}

label.contact-label {
    display: block;
    margin: 0;
    padding: 0 0 3px 0;
    color: #000;
    font-weight: 700;
}

input.contact-input, 
input[type="text"].contact-input, 
input[type="tel"].contact-input, 
input[type="email"].contact-input, 
input[type="url"].contact-input, 
select.contact-label {
    width: 50%;
}

input.contact-input, 
input[type="text"].contact-input, 
input[type="tel"].contact-input, 
input[type="email"].contact-input, 
input[type="url"].contact-input, 
input[type="submit"].contact-submit, 
textarea.contact-textarea, 
select.contact-select {
    margin: 0 0 5px 0;
    height: auto;
    color: #373737;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
}

input.contact-input, 
input[type="text"].contact-input, 
input[type="tel"].contact-input, 
input[type="email"].contact-input, 
input[type="url"].contact-input, 
textarea.contact-textarea {
    padding: 3px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: none repeat scroll 0 0 #fafafa;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear .2s,box-shadow linear .2s;
}

textarea.contact-textarea {
    height: 10em;
    width: 100%;
}

input[type="submit"].contact-submit {
    font-size: 1.1em;
    font-weight: normal;
    padding: 0.3em 0.5em;
    color: #3c5148;
    border: 1px solid #8badaa;
    background: none repeat scroll 0 0 #dfe9ef;
    border-radius: 3px;
}

input[type="submit"].contact-submit:hover {
    font-weight: 700;
    cursor: pointer;
}
