/* --------Forms Settings-------- */

#forms-wrapper {
    position: relative;
    top: 0;
    margin-top: 180px;
}

.forms {
    margin-bottom: 50px;
}

.forms ul {
    display: flex;
    flex-direction: column;
}

.forms li {
    width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.04rem;
    color: #845c3d;
}

.form-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.04rem;
    color: #000;
}

.forms li p {
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
